.prism.log
_dev

__pycache__
.mypy_cache

dist

.venv
.idea

.env
.envrc
codegen.log
Brewfile.lock.json
/anthropic-cpp-sdk/.vs/
/anthropic-cpp-sdk/bin/
/anthropic-cpp-sdk/obj/
/anthropic-cpp-sdk/.vs/AnthropicSDK/v18/Browse.VC.db
/anthropic-cpp-sdk/.vs/AnthropicSDK/CopilotIndices/18.0.988.22099/CodeChunks.db
/anthropic-cpp-sdk/.vs/AnthropicSDK/CopilotIndices/18.0.988.22099/SemanticSymbols.db
/example/x64/
/anthropic-cpp-sdk/x64/
